h1 {
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    margin: 1.5em 0px 0.5em 0px;
    font-size: 1.5rem;
    color: $fg-accent-yellow;

    small {
        color: inherit;
        font-size: 1rem;
        font-weight: normal;
    }
}

a {
    color: $fg-color;

    &:hover {
        text-decoration: none;
    }
}

p > code {
    color: $fg-color-dimmed;
    padding: 1px 6px;
    border-radius: 3px;
    background-color: $monokai-bg-color;
}

.highlight-red { color: $fg-accent-red; }
.highlight-green { color: $fg-accent-green; }
.highlight-yellow { color: $fg-accent-yellow; }
.highlight-purple { color: $fg-accent-purple; }
.highlight-blue { color: $fg-accent-blue; }

.text-center {
    text-align: center;
}

.post-meta {
    display: block;
    font-size: $font-size-smaller;
    color: $fg-color-dimmed;
    text-align: center;
    a { color: $fg-color-dimmed; }
}
