h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    margin: 1.5em 0px 0.5em 0px;
    font-size: 1.5rem;
    color: $fg-accent-yellow;
}

a {
    color: $fg-color;
    text-decoration-color: $fg-color;

    &:hover {
        // color: $fg-color-accent;
        text-decoration: none;
    }
}

.highlight-green { color: $fg-accent-green; }
.highlight-yellow { color: $fg-accent-yellow; }
.highlight-purple { color: $fg-accent-purple; }
.highlight-blue { color: $fg-accent-blue; }
