@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$bg-color-1: #242424;
$bg-color-2: #2F2F2F;
$fg-color: #EEE;
$shadow-color: #000;

$font-regular: 'Source Code Pro', monospace;
